.main_button {
  align-self: start;
  background-color: #1489f8;
  font-size: 20px;
  margin-bottom: 30px;
}

.main_button path {
  fill: #1489f8;
}

.title {
  color: #1365b4;
  font-size: 45px;
  margin-bottom: 40px;
}

@media only screen  and (max-width: 720px) {
  .title {
    font-size: 35px;
  }

  .main_button {
    font-size: 15px;
  }
}

@media only screen  and (max-width: 460px) {

  .title {
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .main_button {
    align-self: stretch;
    margin-bottom: 0;
  }

}