@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 11px 27px 0 rgba(78, 160, 237, 0.2);
  animation: show 0.5s ease;
}

.title {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button_cancel {
  background-color: #6082a3;
}

.button_cancel path {
  fill: #6082a3;
}

.button_save {
  margin: 0 15px;
  background-color: #89c4fc;
}

.button_save path {
  fill: #89c4fc;
}

@media only screen  and (max-width: 460px) {
  .buttons {
    flex-direction: column;
  }

  .button_save {
    margin: 0 0 20px 0;
  }
}